@import "tailwindcss";

@theme {
    --color-thistle-500: #E0BBE4;
    --color-lavender-purple-200: #c1a2cd;
    --color-lavender-purple-500: #957DAD;
    --color-pastel-violet-500: #D291BC;
    --color-cotton-candy-500: #FEC8D8;
    --color-lumber-500: #FFDFD3;
    --color-apricot-500: #FEC8AD;
    --color-isabelline-500: #F7F5EB;
    --color-water-500: #D3EEFF;
    --color-tea-green-500: #C5EABD;
    --color-light-gray-500: #D5D5D5;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@custom-variant hs-tab-active {

  &[data-hs-tab].active {
    @slot;
  }

  [data-hs-tab].active & {
    @slot;
  }
}

@layer components {
  .genshinFilterButton {
    @apply w-10 p-1 cursor-pointer rounded-xl hover:bg-gray-600 hover:border hover:border-gray-800 aria-selected:bg-gray-600 aria-selected:border aria-selected:border-gray-800;
  }

  .genshinNav {
    @apply flex px-3 py-2 gap-2 rounded-lg bg-gradient-to-b bg-white hover:from-cotton-candy-500 aria-selected:from-cotton-candy-500
  }
}